.areaTotal {
    display: flex;
    justify-content: space-between;
}

.ladoEsquerdo {
    background-image: url('https://images6.alphacoders.com/328/thumb-1920-328013.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.ladoDireito {
    display: flex;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/29/09/a8/2909a8f5909efcc0485368c2efbbbd23.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

card {
    height: 80em;
    overflow: scroll;
}

.content-home {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

@media screen and (max-width: 360px) {
    .ladoEsquerdo {
        display: none;
    }
    .ladoDireito {
        width: 100%;
    }
}
